<%- include('partials/header') %>

<div>
    <h1>Home</h1>
    <form action="/page1" method="post"> 
        <input type="text" name="num1" placeholder="Number of persons" required="true">
        <button type="submit">Next</button>
    </form>
</div>

<%- include('partials/header') %>
